* {
  margin: 0px;
  padding: 0px;
}

.navbar {
  padding: 25px;
  background: darkgray;
  color: black;
  text-transform: capitalize;
  font-weight: 800;
  text-decoration: underline;
  font-size: 20px;
  text-align: center;
}
