*{
  box-sizing: border-box;
}

.form{
  background:teal;
  width:40%;
  text-align:center;
  padding:5px;
  margin:10px;
}

.heading{
  padding: 10px;
}

.Userid{
  padding:4px;
  border:1px solid black;
  margin-bottom: 5px;
}

.Userpasword{
  padding:4px;
  border:1px solid black;
}

.button{
  border-radius:5px;
  padding:5px;
  margin-bottom: 5px;
}